{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": true,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },

  "env": {
    "jest": true,
    "browser": true
  }
}
